body {
  margin: 0;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
