.display-container {
    display: flex;
    min-height: 70vh;
    justify-content: space-evenly;
    margin: 0;
}

@media screen and (max-width:1110px) {
    .display-container {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
}