.footer-container {
    background-color: rgb(14, 94, 106);
    padding: 1px;
    color: white;
    height: 30px;
    display: flex;
    justify-content:space-between;
}

.footer-text, .footer-link {
    margin: 6px 35px
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: aquamarine;
}