.footer-container {
    background-color: rgb(14, 94, 106);
    padding: 1px;
    color: white;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.footer-text, .footer-link {
    margin: 1rem
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: aquamarine;
}