.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(14, 94, 106);
    color: white;
    padding:0.5rem;
    width: 100%;
    flex-wrap: wrap;
}

.nav-form {
    margin: 0.5rem 1rem;
    align-self: center;
}

.nav-link-container {
    align-self: center;
    margin: 0.5rem;
}

.nav-link-container > a {
    margin: 0.5rem
}

.nav-save-select {
    height: 2rem;
    width: 15rem;
    margin-left: 10px;
    font-size: 14px;
    align-self: center;
    appearance: none;
    padding-left: 5px;
}

.nav-saved-button {
    height: 35px;
    margin-left: 10px;
    border-radius: 9px;
    border: none;
    background-color: rgb(23, 180, 175);
    color: white;
}
.nav-saved-button:hover{
    background-color: aquamarine;
    background-color: rgb(25, 200, 194);
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color:aquamarine;
}