#meteocodes {
    height: 500px;
    text-align: center;
}

.meteo-image-container {
    display: flex;
    justify-content: center;
}

.about-header {
    display: flex;
    justify-content: center;
}

.mvp-description, #weathercode-example, #citations {
    padding-left: 30px;
    padding-right: 30px;
}