.card-red {
  border-color: linear-gradient(0deg, rgba(255, 255, 255, 0.8169861694677871) 1%, rgba(255, 1, 0, 1) 98%);
  background: rgb(232, 238, 245);
  background: linear-gradient(90deg, rgba(232, 238, 245, 1) 46%, rgba(239, 82, 25, 0.845) 99%);
}

.card-yellow {
  border-color: rgb(255, 179, 0);
  background: rgb(232, 238, 245);
  background: linear-gradient(90deg, rgba(232, 238, 245, 1) 46%, rgba(239, 147, 25, 0.845) 99%);
}

.card-green {
  border-color: green;
  background: rgb(232, 238, 245);
  background: linear-gradient(90deg, rgba(232, 238, 245, 1) 46%, rgba(55, 184, 127, 0.8449973739495799) 99%);
}

.card {
  display: flex;
  height: 7.3rem;
  margin: 5px;
  justify-content: space-between;
  box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
}

.chance-display {
  width: auto;
  display: flex;
}

.card-image {
  width: 5.5rem;
  height: 5.5rem;
  align-self: center;
  margin-left: 15px;
}

.basic-information {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

.basic-information p {
  height: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .rotate-image {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}